.header {
  position: relative;
  margin: 0;
  font-weight: 500;
  line-height: 1.14;
  background-color: #ffffff;

  &__nav {
    padding: 15px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #ececec;
    @media screen and (min-width: 767px) {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &__list {
    flex-direction: row;
    margin-left: auto;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: none;
    }
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  &__all {
    font-size: 14px;
    text-decoration: none;
    color: $text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
