.logo {
  font-family: $secondary-font;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
  text-align: center;
  display: flex;
  margin: 0;

  &__special {
    color: $primmaty-text-color;
  }

  &__special--color {
    color: $title-text-color;
  }
}
.footer__logo {
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 5px;
    justify-content: start;
    text-align: start;
  }
}

.header__logo {
  margin-right: 65px;
}
