
    $main-font: 'Roboto', sans-serif;
    $secondary-font: 'Raleway', sans-serif;

    $primmaty-text-color: #212121;
    $title-text-color: #ffffff;
    $text-color: #757575;
    $accent-color: #2196F3;

    $primmaty-bg-cl: #F5F5F5;
    $accent-bg-cl: #2F303A;
